// Here you can add other styles

body {
  font-family: 'Lato', sans-serif;
}

a:hover {
  text-decoration: none !important;
}

a, .btn {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

.app-header {
  border-bottom: 0px;
  box-shadow: 0px 0px 10px rgba(0,0,0, 0.20);
}

.app-header .navbar-brand {
  background-color: $primary-color;
  width: 150px;
}

.sidebar {
  background-color: $primary-color;
}

.sidebar .nav-link { 
  padding: 0.75rem 1.75rem;
}

.sidebar .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link.active {
  background-color: rgba(0, 0, 0, 0.3);
}

.sidebar .nav-link.active .nav-icon {
  color: white;
}

.sidebar .nav-link .nav-icon {
  color: white;
}

.navbar-toggler {
  outline: none !important;
  height: 55px;
  border-radius: 0px;
  background-color: $primary-color;
  color: white;
}

.navbar-toggler .navbar-toggler-icon {
  filter: brightness(100);
}

.sidebar-minimized .navbar-toggler {
  background-color: transparent;
  filter: brightness(0);
}

.sidebar-minimized .divider {
  width: 20px;
}

.sidebar-minimizer {
  background-color: $primary-color;
}

.site-nav .nav-link {
  border-bottom-width: 3px !important;
  border-bottom-color: transparent !important;
}

.site-nav .nav-link.active {
  border-bottom-color: $primary !important;
}

.page-title {
}

.text-value {
  font-size: 1rem;;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.25rem !important;
}

.site-map>div>div {
  display: block !important;
}

@media (min-width: 992px) {
  .brand-minimized .app-header .navbar-brand {
    background-color: $primary-color;
  }

  .sidebar-minimized .sidebar .sidebar-minimizer {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 991.98px) {
  .navbar {
    background-color: $primary-color;
  }

  .site-map {
    height: 500px;
    margin-bottom: 1.5rem !important;
  }

}

@media (max-width: 575px) {
  
}