// Variable overrides

$primary-color: #1565C0;
$error-red: #D21616;
$success-green: #2DCA71;
$warning-yellow: #F6B64B;
$info-blue: #4695F5;

$primary: $primary-color;
$success: $success-green;
$danger: $error-red;
$warning: $warning-yellow;
$info: $info-blue;